/* project FAT start */
.container {
  @apply bg-fatProject-background text-black pb-32;

  h3 {
    @apply text-fatProject-primary;
    font-weight: 600;
    margin-bottom: 1.25rem;
  }

  p {
    margin-bottom: 1rem;
  }
}
/* project FAT end */

.impactHeaderItalic {
  @apply text-fatProject-primary italic;
  font-weight: 600;
}
