.photoCaptionText,
.photoCaptionTextDark {
  @apply text-caption;
  font-family: var(--font-source-sans-3);
  color: #8e8e8e;
  font-style: normal;
  font-weight: 500;
  line-height: 1.875rem;
  margin-top: 1rem;
}

.photoCaptionTextDark {
  color: #bcb8b8;
}
