@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: black;
  --background-rgb: white;
}

/* TODO: set the header and other text styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer components {
  .button {
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
  }
  .button:hover {
    @apply bg-blue-700;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
