@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #fbf8ec;
  --background-rgb: #25201a;
}

h1,
h2,
h3,
h4,
h6 {
  font-family: var(--font-lora);
}

h1 {
  @apply text-4xl;
}
h2 {
  @apply text-3xl;
}
h3 {
  @apply text-2xl;
  margin-bottom: 1.25rem;
  font-style: normal;
}

h4 {
  @apply text-base;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
}

/* DOING h5 to h3 for the projects might be bad, can use h2 instead? its not used in projects anywhere */
h5 {
  @apply text-base text-gray-dark;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem; /* 150% */
  font-family: var(--font-alegreya-sans);
  text-transform: lowercase;
}

p {
  margin-bottom: 1rem;
}

b {
  font-weight: 600;
}

em {
  font-weight: 600;
  font-style: italic;
}

body {
  /* COLORS */
  @apply bg-background-dark text-white text-base;
  /* FONT */
  font-family: var(--font-source-sans-3);

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.negotium-container,
.fat-container,
.mindful-container,
.penella-container {
  h3 {
    line-height: 35px;
  }
  @apply pb-32;
}

.negotium-container {
  @apply bg-background-dark text-whiteWhite;

  h3 {
    @apply text-negotium-primary;
  }

  em {
    @apply text-negotium-primary;
  }
}

.fat-container {
  @apply bg-fatProject-background text-black;

  h3 {
    @apply text-fatProject-primary;
  }

  em {
    @apply text-fatProject-primary;
  }
}

.mindful-container {
  @apply bg-mindful-background text-black;

  h3 {
    @apply text-mindful-primary;
  }

  h4 {
    @apply text-mindful-primary;
  }

  em {
    @apply text-mindful-primary;
  }
}

.penella-container {
  @apply bg-penella-background text-black;

  h3 {
    @apply text-penella-primary;
  }

  em {
    @apply text-penella-primary;
  }
}
