/* navbar start */
.navbar {
  display: flex;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 2.5rem 9% 1.25rem 9%;
}
.navbarButton {
  @apply text-caption text-center font-medium relative;
}
.navbarButton::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0.5rem;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: width 0.3s ease, left 0.3s ease;
  transform: translateX(-50%);
}

.navbarButton:hover::after {
  width: 100%;
  left: 50%;
}
/* navbar end */

/* scroll to top start */
.scrollToTop {
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  z-index: 100;
  @apply bg-whiteWhite text-background-dark;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.scrollToTop:hover {
  @apply bg-background-dark text-whiteWhite;
}
/* scroll to top end */
